<style>
  #myDIV {
    display: none;
  }

  .ui.icon.button {
    height: 5.4ex;

  }
</style>
<div class="nav-bar">
  <button onclick="myFunction()" type="button" class=" barsicon">
    <i class=" huge bars icon inline"></i>
  </button>
  <LinkTo @route="index" onclick="myFunctionHide()" @query={{hash page=this.pg}}>
    <img class="inline" height="75px" src="/assets/images/spuds.png" alt="Couch Potato" />
  </LinkTo>


  <h1 class="inline">Couch Potato</h1>
  <div id="myDIV" style="display:none;">
    <div id="myDIV2" class="side-menu">
      {{!-- {{on 'click' this.openAccount }}  --}}
      <button type="button" onclick="myFunction()" class="border-less massive fluid ui inverted basic button"
        {{on 'click' this.openDiscover }}>Discover</button>
      <button type="button" onclick="myFunction()" class="massive fluid ui inverted basic button border-less"
        {{on 'click' this.openBookmarks }}>Bookmarks</button>
      <button type="button" onclick="myFunction()" class="massive fluid ui inverted basic button border-less"
        {{on 'click' this.openAccount }}>My Account</button>
      {{!-- <h4 class="">Logged in as </h4> --}}
      {{#if session.isAuthenticated}}
      {{!-- <h3 style="margin-bottom: 0;">Logged in as,</h3> --}}
      {{!-- <h4 style="text-align: right; margin-top: 0;">{{session.data.user.email}}</h4> --}}
      {{!-- <button class="fluid ui inverted basic button border-less" {{on 'click' this.signOut}} type="button"> Sign
        Out</button> --}}
      <div class="sign-button" style="margin: 50px 75px;">
        <button class="ui teal button" {{on 'click' this.signOut}} {{on 'click' this.openDiscover}} type="submit">Sign
          Out</button>
      </div>
      {{else}}
      <div class="sign-button" style="margin: 50px 80px;">
        <button class="ui teal button" {{on 'click' this.openAccount}} type="submit">Sign In</button>
      </div>
      {{/if}}
    </div>
  </div>
  <div>

    <div class="ui action input" id="box">
      <Input @id="user-question" @type="text" @value={{this.searchQuery}} />
      {{!-- <Input type="text" id="myInput" placeholder="Search for movies...." title="Type in a movie" value={{this.searchQuery}}> --}}

      <LinkTo @route="search" @query={{hash searchTerm=this.searchQuery}}>
        <button class="ui icon button" onclick="myFunctionHide()" type="submit" id="myBtn">
          <i class="search icon"></i>
        </button>
      </LinkTo>

    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function myFunctionHide() {
      var x = document.getElementById("myDIV");
      x.style.display = "none";

    }


  </script>
  {{yield}}
</div>