<style>
  #myDIV {
    display: none;
  }

  .ui.icon.button {
    height: 5.4ex;

  }
</style>
<div class="nav-bar">
  <button onclick="myFunction()" type="button" class=" barsicon">
    <i class=" huge bars icon inline"></i>
  </button>
  <LinkTo @route="index" onclick="myFunctionHide()" @query={{hash page=this.pg}}>
    <img class="inline" height="75px" src="/assets/images/spuds.png" alt="Couch Potato" />
  </LinkTo>


  <h1 class="inline">Couch Potato</h1>
  <div id="myDIV" style="display:none;">
    <div id="myDIV2" class="side-menu">
      {{!-- {{on 'click' this.openAccount }}  --}}
      <button type="button" onclick="myFunction()" class="border-less massive fluid ui inverted basic button" {{on 'click' this.openDiscover }} >Discover</button>
      <button type="button" onclick="myFunction()" class="massive fluid ui inverted basic button border-less" {{on 'click' this.openBookmarks }}>Bookmarks</button>
      <button type="button" onclick="myFunction()" class="massive fluid ui inverted basic button border-less" {{on 'click' this.openAccount }} >My Account</button>

    </div>
  </div>
  <div>

    <div class="ui action input" id="box">
      <Input @id="user-question" @type="text" @value={{this.searchQuery}} />
      {{!-- <Input type="text" id="myInput" placeholder="Search for movies...." title="Type in a movie" value={{this.searchQuery}}> --}}

      <LinkTo @route="search" @query={{hash searchTerm=this.searchQuery}}>
        <button class="ui icon button" onclick="myFunctionHide()" type="submit" id="myBtn">
          <i class="search icon"></i>
        </button>
      </LinkTo>

    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function myFunctionHide() {
      var x = document.getElementById("myDIV");
        x.style.display = "none";
      
    }


  </script>
  {{yield}}
</div>