<style>
  #myDIV {
    display: none;
  }
  .ui.icon.button {
    height: 5.4ex;
  }
</style>
<div class="nav-bar">
  <button onclick="myFunction()" type="button" class=" barsicon">
    <i class=" huge bars icon inline"></i>
  </button>
  <LinkTo @route="index" @query={{hash page=this.pg}}>
      <img class="inline" height="75px" src="/assets/images/spuds.png" alt="Couch Potato" />
  </LinkTo>
  

  <h1 class="inline">Couch Potato</h1>
  <div id="myDIV" style="display:none;">
    <div class="side-menu">
      <LinkTo @route="index"  @query={{hash page=this.pg}} onclick="myFunction()">Discover</LinkTo>
      <LinkTo @route="bookmarks" onclick="myFunction()">Bookmarks</LinkTo>
      <LinkTo @route="sign-in" onclick="myFunction()">My Account</LinkTo>
    </div>
  </div>
  <div>

    <div class="ui action input" id="box">
      <Input @id="user-question" @type="text" @value={{this.searchQuery}} />
      {{!-- <Input type="text" id="myInput" placeholder="Search for movies...." title="Type in a movie" value={{this.searchQuery}}> --}}

      <LinkTo @route="search" @query={{hash searchTerm=this.searchQuery}} onclick="myFunctionHide()">
        <button class="ui icon button" type="submit" id="myBtn">
          <i class="search icon"></i>
        </button>
      </LinkTo>

    </div>
  </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
function myFunctionHide() {
      var x = document.getElementById("myDIV");
     
        x.style.display = "none";
      
    }

  </script>
  {{yield}}
