<div class="content-container">
    <header class="bookmarks-header">
        <h1>Bookmarks</h1>
    </header>
    <main class="bookmark-frame">
     
                {{#each @model as |movie|}}
                {{#if movie.isBookmarked}}
                <MovieBookmark @title={{movie.title}} @poster={{movie.poster_path}} @year={{movie.release_date}}
                    @movieID={{movie.movieID}} @isFavorite={{movie.isFavorited}} @isBookmark={{movie.isBookmarked}} />
                {{/if}}
                {{/each}}
           
    </main>

    {{outlet}}
</div>