<header class="bookmarks-header">
    <h1>BookMarks</h1>
</header>
<main class="bookmark-frame">

    {{!-- <h1>Bookmark1: {{@model.title}}</h1> --}}
    <div class="ui four column grid">
        <div class="row">
            {{#each @model as |movie|}}
                <MovieBookmark @title={{movie.title}} @poster={{movie.poster_path}} @year={{movie.release_date}} @movieID={{movie.movieID}}
                @isFavorite ={{movie.isFavorited}}
                @isBookmarked={{movie.isBookmarked}}  />
            
            {{/each}}
        </div>
    </div>
</main>

{{!-- {{#if @model.isBookmarked}} --}}
{{!-- <h1>{{@model.title}}</h1> --}}
{{!-- {{/if}} --}}

{{outlet}}