{{!-- Since index is our home page, this should be the discover page --}}

<h1> Discover </h1>
<div class="movie-container">
   {{#each @model as |movie|}}
      <LinkTo @route="movie-profile" @model={{movie.id}}>
         <DiscoverTile @title={{movie.title}} @poster={{movie.poster_path}} @year={{movie.release_date}}/>
      </LinkTo>
   {{/each}}
</div> 
<div></div>
{{outlet  }}