<style>
    .MyAccount {
        box-sizing: border-box;
        text-align: center;
    }

    .buttons {
        padding-top: 1.5px;
        height: auto;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }


    .ui.teal.button {
        width: 20em;
    }

    #InfoBox {
        margin-top: 20px;
        margin-left: 15px;
        max-height: 2000px;
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #SettingsDIV {
        margin-top: 30px;
        margin-left: 400px;
        margin-right: 400px;
    }

    h2 {
        text-align: left;
        cursor: pointer;
        transition: all .5s;
        border-bottom: 1px solid white;

        &:hover {
            color: white;
        }
    }



    .settings-container {
        width: 100%;
        max-width: 850px;
        margin: auto;
        padding: 20px;
        padding-top: 40px;

    }

    .settings-title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px;
    }

    .settings-section {
        width: 100%;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .general-info {
        position: relative;
    }




    .input-group {

        align-items: center;
        margin-bottom: 0.5rem;
    }


    #firstNameBox {
        display: none;
    }

    #lastNameBox {
        display: none;
    }

    #emailBox {
        display: none;
    }

    #userNameBox {
        display: none;
    }


    p {
        padding: 7px 15px;
        margin-bottom: 0;
        font-size: 1rem;
        cursor: default;
    }

    .fas.fa-pen {
        color: white;
    }

    .fas.fa-pen:hover {
        color: teal;
    }

    i {
        cursor: pointer;
        transition: all .5s;
        margin-right: 10px;
    }

    .non-active-form {
        margin-bottom: 10px;
        position: flex;
        display: block;
        margin-top: 20px;

    }

    .form-control {
        position: flex;
        display: block;
        width: 18em;
        height: 2em;
    }
</style>


<div class="content-container">
    <div class="MyAccount">
        <h1>My Account</h1>
        <div class="buttons">
            <div class="FavoritesButton">
                <button onclick="favoritesFunction()" class="ui teal button" type="button">
                    <h3> <i class="fas fa-heart "></i> Favorites</h3>
                </button>
            </div>
            <div class="SettingsButton">
                <button onclick="settingsFunction()" class=" ui teal button" type="button">
                    <h3><i class="fas fa-cogs "></i> Account Settings</h3>
                </button>
            </div>
        </div>
        <div id="InfoBox">
            <div id="FavoritesDIV">
                <main class="bookmark-frame">

                    {{!-- <h1>Bookmark1: {{@model.title}}</h1> --}}
                    <div class="ui four column grid">
                        <div class="row">
                            {{#each @model as |movie|}}
                            {{#if movie.isFavorited}}
                            <MovieBookmark @title={{movie.title}} @poster={{movie.poster_path}}
                                @year={{movie.release_date}} @movieID={{movie.movieID}}
                                @isFavorite={{movie.isFavorited}} @isBookmark={{movie.isBookmarked}} />
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>
                </main>
            </div>
            <div id="SettingsDIV">
                <h2 class="settings-title">Change Email</h2>
                <form class="form my-form" style="text-align: center;">
                    <div class="ui input" style="margin-bottom: 1.2em;">
                        {{input type="email" value=email placeholder="New email"}}
                    </div>
                    <br>
                    <div class="ui input" style="margin-bottom: 1.2em;">
                        {{input type="password" value=password placeholder="Password"}}
                    </div>

                    <div class="form-submit right">
                        <button class="ui teal button" type="submit" style="width: 150px;" {{action 'changeEmail' email
                            password}}>Change
                            Email</button>
                    </div>
                </form>

                <div class="settings-section">
                    <h2 class="settings-title">Password</h2>

                    <form class="form my-form" style="text-align: center;">
                        {{!-- <div class="form-group">
                            <div class="input-group">
                                <input name="currentPassword" placeholder="Old Password" type="password"
                                    class="form-control" autocomplete="Old Password" value="">
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input name="password" placeholder="New Password" type="password" class="form-control"
                                    autocomplete="New Password" value=newPassword>
                                <span class="focus-input"></span>
                            </div>
                        </div> --}}
                        <div class="ui input" style="margin-bottom: 1.2em;">
                            {{input type="password" value=oldPassword placeholder="Old Password"}}
                        </div>
                        <br>
                        <div class="ui input" style="margin-bottom: 1.2em;">
                            {{input type="password" value=newPassword placeholder="New Password"}}
                        </div>

                        <div class="form-submit right">
                            <button class="ui teal button" type="submit" style="width: 150px;" {{action 'changePassword'
                                oldPassword newPassword}}>Change
                                Password</button>
                        </div>
                    </form>



                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>

    var y = document.getElementById("FavoritesDIV");
    var z = document.getElementById("SettingsDIV");
    z.style.display = "none";
    function settingsFunction() {
        y.style.display = "none";
        if (z.style.display === "none") {
            z.style.display = "block";
        } else {
            z.style.display = "none";
        }
    }
    function favoritesFunction() {
        z.style.display = "none";
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
    }
    function changeUserName() {
        var userNameInput = document.getElementById("userNameBox");
        var userNameText = document.getElementById("user-name");
        var name1 = userNameInput.value;
        if (userNameInput.style.display === "block") {

            userNameText.innerHTML = name1;
            userNameInput.style.display = "none";

        } else {
            userNameInput.style.display = "block";
            userNameText.innerHTML = "";
        }

    }
    function changeFirstName() {
        var firstNameInput = document.getElementById("firstNameBox");
        var firstNameText = document.getElementById("first-name");
        var name1 = firstNameInput.value;
        if (firstNameInput.style.display === "block") {

            firstNameText.innerHTML = name1;
            firstNameInput.style.display = "none";

        } else {
            firstNameInput.style.display = "block";
            firstNameText.innerHTML = "";
        }

    }
    function changeLastName() {
        var lastNameInput = document.getElementById("lastNameBox");
        var lastNameText = document.getElementById("last-name");
        var name1 = lastNameInput.value;
        if (lastNameInput.style.display === "block") {

            lastNameText.innerHTML = name1;
            lastNameInput.style.display = "none";

        } else {
            lastNameInput.style.display = "block";
            lastNameText.innerHTML = "";
        }

    }
    function changeEmail() {
        var emailInput = document.getElementById("emailBox");
        var emailText = document.getElementById("email-name");
        var name1 = emailInput.value;
        if (emailInput.style.display === "block") {

            emailText.innerHTML = name1;
            emailInput.style.display = "none";

        } else {
            emailInput.style.display = "block";
            emailText.innerHTML = "";
        }

    }


</script>
{{outlet}}