<h1>Search results for '{{this.searchTerm}}':</h1>
<div class="movie-container">

  {{#each @model as |movie|}}
  <LinkTo @route="movie-profile" @model={{movie.id}}>
    <DiscoverTile @title={{movie.title}} @poster={{movie.poster_path}} @year={{movie.release_date}} />
    <h2>{{movie.title}}</h2>
  </LinkTo>
  {{/each}}

  <div class="page-button-holder">
    <button {{on "click" this.pastPage}} class="ui teal left labeled icon button" type="submit">
      <i class="left arrow icon"></i>
      Previous
    </button>
    <p class="page-number"> {{this.page}} </p>
    <button {{on "click" this.nextPage}} class="ui teal right labeled icon button" type="submit">
      <i class="right arrow icon"></i>
      Next
    </button>

  </div>

</div>


{{outlet}}